.btn {
	padding: 0.5em 1em;
	border-radius: 0;
	border: 1px solid @faded-grey;
	background: @light-grey;
	font-family: @font-sans;
	font-size: 0.85rem;
	font-weight: 600;
	color: @dark-grey;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
		background: @faded-grey;
		color: @dark-grey;
		border-color: @mid-grey;
		text-decoration: none;
	}
}

// Font-size for buttons; overwriting Bootstrap
.btn.btn {
	font-size: 0.85rem;
}

.btn-primary {
	background: @light-grey;
	border-color: @faded-grey;
	color: @dark-grey;
	font-weight: 600;

	&:hover,
	&:focus,
	&:active {
		background: @faded-grey !important;
		border-color: @mid-grey !important;
		color: @dark-grey;
	}
}

.btn-light {
	border-color: @faded-grey;
	background-color: @light-grey;
	color: @dark-grey;
	font-weight: 600;

	&:hover,
	&:focus,
	&:active {
		background-color: @faded-grey;
		border-color: @dark-grey;
		color: @dark-grey;
	}
}

.btn-primary-bg {
	background: @light-grey;
	border-color: @light-grey;
	color: @dark-grey;

	&:hover,
	&:focus,
	&:active {
		background: @light-grey;
		border-color: @dark-grey;
		color: @dark-grey;
	}
}

.btn-link {
	border-color: transparent;
	font-weight: 400;
	color: @primary;

	&:hover,
	&:focus,
	&:active {
		border-color: transparent;
		color: @primary-text;
	}
}

.btn-text {
	.btn-link;
	color: @dark-grey;

	&:hover,
	&:focus,
	&:active {
		color: @primary;
	}
}
