.site-footer {
	margin-top: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: @black;
	color: @primary-text;
	border-top: 4px solid @primary;

	a {
		color: @primary-light;
		text-decoration: underline;
		font-weight: 600;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: @contrast;
			background-color: @primary;
			padding: 2px 4px;
		}
	}
}

.site-footer-content > p:last-child {
	margin-bottom: 0;
}

.site-footer-content {
	color: @primary-text;
	font-weight: 500;
}

.footer-brand-image {
	margin-top: 2rem;
	max-width: 96px;
	border: 2px solid @primary-text;
	padding: 4px;
}

@media(min-width: 768px) {

	.site-footer {
		padding-top: 3rem;
		padding-bottom: 3rem;
		border-top: 4px solid @primary;
	}

	.footer-brand-image {
		margin-top: 0;
		border: 2px solid @primary-text;
	}
}

@media(min-width: 992px) {

	.site-footer {
		padding-top: 4rem;
		padding-bottom: 4rem;
		border-top: 5px solid @primary;
	}
}
